/* ===========================
    VARIABLES
   =========================== */
:root {
  /* Modo oscuro (dk) */
  --color-bg-dk: #222222;
  --color-text-dk: #ddd;
  --color-accent-dk: #f3be38;

  /* Modo claro (lh) */
  --color-bg-lh: #f5f5f5;
  --color-text-lh: #222;
  --color-accent-lh: #a36201;

  /* Variables actuales */
  --color-bg-current: var(--color-bg-dk);
  --color-text-current: var(--color-text-dk);
  --color-accent-current: var(--color-accent-dk);
}

/* ===========================
    RESET Y BASE
   =========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-current);
  color: var(--color-text-current);
}

main {
  flex: 1;
}

a {
  color: var(--color-text-current);
}

/* ===========================
    SECCIONES
   =========================== */

.section-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-xl {
  width: 100%;
}

.section-l {
  width: 80%;
  margin: 0 auto;
}

.section-m {
  width: 60%;
  margin: 0 auto;
}

/* ===========================
    HEADER
   =========================== */

header {
  display: flex;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-bg-current);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: var(--color-accent-current);
}

.toggle-button {
  padding: 0 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icono {
  width: 40px;
  height: 40px;
}

/* ===========================
    HERO
   =========================== */

.hero {
  gap: 50px;
  justify-content: start;
  margin-top: 20vh;
}

.hero-container-img {
  width: 60%;
  margin: 0 auto;
}

.hero-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  font-size: 40px;
}

/* ===========================
    DESCRIPCIÓN
   =========================== */

.descripcion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transform: translateX(-250px);
  opacity: 0;
}

.descripcion-texto {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descripcion-texto h2 {
  text-align: left;
}

.descripcion-img {
  flex: 1;
}

.descripcion-img img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}


/* ===========================
    CONTENEDOR HORIZONTAL
   =========================== */

.aparecer {
  opacity: 0;
}

.proyectos {
  width: 500vw;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.proyecto-container {
  min-width: 100vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyecto-contenido {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 60vh;
  gap: 20px;
}

.proyecto-titulo {
  color: var(--color-accent-current);
  writing-mode: sideways-lr;
  position: absolute;
  left: -70px;
  bottom: 0;
  font-size: clamp(1.3rem, 5vw, 3rem);
  font-weight: 300;
}

.proyecto-contenido-img {
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
}

.proyecto-contenido-img:hover {
  cursor: pointer;
}

.proyecto-contenido-info {
  position: absolute;
  bottom: -50px;
  color: var(--color-text-current);
}

.proyecto-contenido-descripcion {
  position: absolute;
  bottom: -70px;
  color: var(--color-text-current);
  padding: 0 30px;
  z-index: 10;
  background-color: var(--color-bg-current);
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.proyecto-contenido-img:hover + .proyecto-contenido-descripcion {
  opacity: 1;
}
/* .proyecto-contenido-img:hover + .proyecto-contenido-info { opacity: 0; } */

/* PROYECTO 1*/

.proyecto-1-img {
  background: url("../assets/images/ecommerce.webp") no-repeat top center/cover;
}

.proyecto-1-img:hover {
  background: url("../assets/images/ecommerce-alt.webp") no-repeat top
    center/cover;
}

/* PROYECTO 2 */

.proyecto-2-img {
  background: url("../assets/images/bodas.webp") no-repeat top center/cover;
}

.proyecto-2-img:hover {
  background: url("../assets/images/bodas-alt.webp") no-repeat top center/cover;
}

/* PROYECTO 3 */

.proyecto-3-img {
  background: url("../assets/images/restaurante.webp") no-repeat top
    center/cover;
}

.proyecto-3-img:hover {
  background: url("../assets/images/restaurante-alt.webp") no-repeat top
    center/cover;
}

/* PROYECTO 4 */

.proyecto-4-img {
  background: url("../assets/images/escuela-baile.webp") no-repeat top
    center/cover;
}

.proyecto-4-img:hover {
  background: url("../assets/images/escuela-baile-alt.webp") no-repeat top
    center/cover;
}
